<ion-view>
	<ion-content>
		<section class="about">
			<h2>Ideia eta garapena</h2>
		  	<p>Worköholics SL</p>
		  	<h2>Musika</h2>
		  	<p>Aiko taldea</p>
		  	<h2>Dantza</h2>
		  	<p>Eskerrak eman nahi dizkiegu <strong>Goi-Herri Dantza Taldeari</strong>, eta, batez ere, honako hauei: Miren, Mikel, Lander, David, Naiara eta Ixone</p>
		  	<hr>
		  	<p>Edukiek zehaztasunik ezaren bat badute, erantzukizuna gure gain hartuko dugu, eta <strong>atsegin handiz jasoko ditugu aholku edo zuzenketak</strong> <a href="mailto:hello@workoholics.es">hello@workoholics.es</a> posta elektronikoan, app hau ikasteko tresna osoagoa izan dadin.</p>
		  	<div class="text-center logo">
		  		<img src="img/worko.png"/>
		  		<a data-ng-click="openLink('http://www.workoholics.es','_system','location=yes')">www.workoholics.es</a>
		  	</div>
		  	<hr>
		  	<h2>Babeslea</h2>
		  	<p>Hezkuntza, Hizkuntza Politika eta Kultura Sailaren <strong>Hizkuntza politika sailburuordetza</strong></p>
		  	<div class="text-center logogv">
				<img src="img/logogv.png"/>
			</div>
		</section>
	</ion-content>
</ion-view>
