<ion-view>
	<ion-content>
		<section class="guri-buruz-content">
			<h2>Ikas ezazu JAUZIrekin</h2>
			<p><strong>Jauziak euskal dantza tradizionalak dira</strong>, eta taldeka dantzatzen dira, biribilean. Izen propioa duten hainbat urratseko segidak osatzen dituzte Jauziak izeneko dantza ugariek, eta, gaur egun, erromerietan dantzatzen dira. <strong>Dantza errazteko, urrats bakoitza iragarri ohi da.</strong></p>
			<h2>Urratsez urrats</h2>
			<p><strong>Bideo eta irudien bidez, mugimendu bakoitza urratsez urrats sakontzeko aukera ematen du JAUZIk</strong>. Urratsez urratseko entrenamendua eskaintzeaz gain, app-ak dantza oso baten musika entzuteko aukera ematen du, ahots batek urrats bakoitza iragartzen duen bitartean, erraztasunez dantzatu dezazun, urrats guztien segida buruz ikasteko beharra eduki gabe. <strong>Denborarekin, dantzak osorik ikasiko dituzu.</strong></p>
			<section class="steps">
				<div class="step">
					<span class="number">1</span>
					<h3>Ikas ezazu euskal Jauziak dantzatzen, bideo eta irudien bidez.</h3>
				</div>
				<div class="step">
					<span class="number">2</span>
					<h3>Urratsez urrats eta zure erritmoaren arabera</h3>
				</div>
				<div class="step">
					<span class="number">3</span>
					<h3>Gozatu eta parteka ezazu ikasitakoa lagunekin, herriko plazan…</h3>
				</div>
			</section>
		</section>
	</ion-content>
</ion-view>