<ion-view>
	<ion-slide-box class="no-visited-slider" on-slide-changed="changeActive($index)">
        <ion-slide class="slide1">
          	<div class="ion-slide-content">
              <span class="number">1</span>
          		<h2>Ikas ezazu euskal Jauziak dantzatzen, bideo eta irudien bidez</h2>
          	</div> 	
        </ion-slide>
        <ion-slide class="slide2">
        	<div class="ion-slide-content">
          <span class="number">2</span>
          		<h2>Urratsez urrats eta zure erritmoaren arabera</h2>
        	</div>
        </ion-slide>
        <ion-slide class="slide3">
          <div class="ion-slide-content">
              <span class="number">3</span>
              <h2>Gozatu eta parteka ezazu ikasitakoa lagunekin, herriko plazan…</h2>
          </div>
        </ion-slide>
  	</ion-slide-box>
  	<a ng-href="#/" class="runapp">
    	<label>HASI</label>
    	<span class="zmdi zmdi-chevron-right icon"></span>
    </a>
</ion-view>