<ion-view>
	<ion-slide-box class="no-visited-slider" on-slide-changed="changeActive($index)">
        <ion-slide>
        	<div class="ion-slide-content">
        		<img src="img/logo.svg"/>
          		<h2>Euskal dantzak ikasteko app</h2>
        	</div>		
        </ion-slide>
        <ion-slide>
          	<div class="ion-slide-content">
        		<img src="img/slide2.svg"/>
          		<h2>Ikas ezazu euskal Jauziak dantzatzen, bideo eta irudien bidez</h2>
        	</div>	
        </ion-slide>
        <ion-slide>
        	<div class="ion-slide-content">
        		<img src="img/slide4.svg"/>
          		<h2>Urratsez urrats eta zure erritmoaren arabera</h2>
        	</div>
        </ion-slide>
        <ion-slide>
          <div class="ion-slide-content">
            <img src="img/slide3.svg"/>
              <h2>Gozatu eta parteka ezazu ikasitakoa lagunekin, herriko plazan…</h2>
          </div>
        </ion-slide>
  	</ion-slide-box>
  	<a ng-href="#/" class="runapp">
    	<label>HASI</label>
    	<span class="zmdi zmdi-chevron-right icon"></span>
    </a>
</ion-view>